<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button text="Regresar" color="primary" mode="ios" defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title color="success" class="ion-text-capitalize">Segment</ion-title>
  </ion-toolbar>
  <ion-segment value="" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="">
      <ion-label>Todos</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Marvel Comics">
      <ion-label>Marvel Comics</ion-label>
    </ion-segment-button>
    <ion-segment-button value="DC Comics">
      <ion-label>DC Comics</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
<ion-list>
  <ion-item *ngFor="let heroe of (superHeroes|async) | filtro:publisher:'publisher'">
    <ion-label>
<h3>{{heroe.superHero}} <small>{{heroe.alter_ego}}</small></h3>
<p>{{heroe.first_appearance}}</p>
    </ion-label>
    <ion-label slot="end" class="ion-text-right">{{heroe.publisher}}</ion-label>
  </ion-item>
</ion-list>

<ion-list *ngif="(superHeroes|async)===null">
  <ion-item *ngFor="let item of [1,1,1,1,1,1,1,1,1,1,1] ">
    <ion-label>
<h3><ion-skeleton-text animated style="width: 70%"></ion-skeleton-text></h3>
<p><ion-skeleton-text animated style="width: 100%"></ion-skeleton-text></p>
    </ion-label>
    <ion-skeleton-text slot="end" animated style="width: 40px"></ion-skeleton-text>
  </ion-item>
</ion-list>
</ion-content>
