<ion-app>
  <ion-split-pane when="md" contentId="menu">
  <ion-menu side="start" menuId="first" contentId="menu">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menú</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle *ngFor="let item of componentes|async" 
                                [routerLink]="item.redirectTo"
                                [autoHide]="false">
           <ion-item>
          <ion-icon slot="start" [name]="item.icon" color="primary"></ion-icon>
          <ion-label>{{item.name}}</ion-label>
        </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu"></ion-router-outlet>
 </ion-split-pane>
</ion-app>
