<app-header titulo="Card"></app-header>

<ion-content mode="ios">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Subtitulo de Card</ion-card-subtitle>
      <ion-card-title>Titulo de Card </ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="secondary">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end" color="dark">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="https://developer.huawei.com/Enexport/sites/default/images/new-content/develop-landing/developFuncAppgallery.png">
<ion-card-content>
 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure cum ad voluptate? Eveniet sit quae recusandae earum quibusdam fuga consequuntur amet quas ipsam, nulla, eius odio aliquam non quos illum.
</ion-card-content> 
  </ion-card>
</ion-content>
